{% unless page.comments == false %}
<div id="commento"></div>
<script src="https://giscus.app/client.js"
        data-repo="khjeon1006/khjeon1006.github.io"
        data-repo-id="R_kgDOIqTKhQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOIqTKhc4CTOix"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="ko"
        crossorigin="anonymous"
        async>
</script>
{% endunless %}


{% comment %} Copyright 2021 Google LLC {% endcomment %}
